*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 2rem;
    color: rgb(238, 196, 11);
    font-family: 'Roboto Condensed', sans-serif;
}
.navbar-brand:hover{
    color: rgb(36, 32, 32);
}
.nav-item a{
    margin-right: 15px;
    margin-left: 15px;
    color: rgb(238, 196, 11);
    text-transform: uppercase;
    font-family: sans-serif;
}
.nav-link:hover{
    color: rgb(36, 32, 32);
}
.far, .fab{
    color: rgb(238, 196, 11);
    font-size: 1.1rem;
    cursor: pointer;
}
.fab:hover{
    color:rgb(36, 32, 32);
}
.far:hover{
    color:rgb(36, 32, 32);
}
.main{
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/421744c5-139a-44a6-aaea-560db4b7b68a/debnpgr-35858bea-f5aa-4504-96f9-01b179e694b3.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzQyMTc0NGM1LTEzOWEtNDRhNi1hYWVhLTU2MGRiNGI3YjY4YVwvZGVibnBnci0zNTg1OGJlYS1mNWFhLTQ1MDQtOTZmOS0wMWIxNzllNjk0YjMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.gtspxqSVU7iFItSopUBY_Qivv8-29vKbSmkLRLzFt4Q)no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
}
.main p{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: rgb(238, 196, 11);
}
.main h1{
    font-size: 5rem;
    font-weight: 900;
    color: rgb(238, 196, 11);
}
.btn2{
    height: 45px;
    width: 40%;
    color: black;
    outline: none;
    border: none;
    background: rgb(238, 196, 11);
    font-weight: bold; 
    transition: all 0.4s;
    cursor: pointer;
}
.btn2:hover{
    border: 1px solid rgb(238, 196, 11);
    background: transparent;
    color: rgb(238, 196, 11);
    transition: all 0.4s;
}
.btnc{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    height: 53px;
    width: 40%;
    color: rgb(238, 196, 11);
    border: none;
    outline: none;
    background: rgb(18, 17, 17);
    cursor: all 0.4s;
}
.btnc:hover{
    background: rgb(238, 196, 11);
    color: white;
    transition: all 0.4s;

}
.btnd{
    position: absolute;
    top: 90%;
    left: 20%; 
    transform: translate(-50%, -50%);
    height: 53px;
    width: 40%;
    color: rgb(238, 196, 11);
    border: none;
    outline: none;
    background: rgb(18, 17, 17);
    cursor: all 0.4s;
}
.btnd:hover{
    background: rgb(238, 196, 11);
    color: white;
    transition: all 0.4s;

}
.pnext, .pback{
    transform: translate(-50%, -50%)
    height: 53px;
    width: 30%;
    color: black;
    border: none;
    outline: none;
    background: rgb(238, 196, 11);
    cursor: all 0.4s;
}
.pnext:hover, .pback:hover{
    background: black;
    color: white;
    transition: all 0.4s;
}



.zoom-n-rotate{
    border-radius: 0;
    outline: none;
    overflow: hidden;
    cursor: pointer;
}
.zoom-n-rotate img{
        transition: tranform 0.5s ease-in-out;
}
.zoom-n-rotate:hover img{
    transform: scale(1.5);
}
.next{
    background: rgb(238, 196, 11);
}
.subtitle{
    color:rgb(238, 196, 11);
}
.subtitle:hover{
    cursor:pointer;
    color: rgb(36, 32, 32);
}
/* ====================*/
.trending h1{
    font-weight: 800;
    font-size: 2.6rem;
}
.trending{
    background:#0a0a0a;
}
.discount{
    height: 50px;
    width: 50px;
    background: rgb(238, 196, 11);
    border-radius: 50%;
    padding: 12px 5px;
    color: white;
    position: absolute;
    top: 15%;
    left: 85%;
    transform: translate(-50%, -50%);
}
h1{
    color:rgb(238, 196, 11);
}
/*=========New Releases========*/
.circle1{
    height: 70px;
    width: 70px;
    background: rgb(238, 196, 11);
    color: black;
    border-radius: 50%;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 1.5rem;
    transition: all 0.4s;
    opacity: 0;
}
.mix:hover .circle1{
    transition: all 0.5s;
    opacity: 1;
}
.circle1:hover{
    background: black;
    color: white;

}
.iconic p{
    text-align: justify;
    font-family: 'prompt' , sans-serif;
}
.icon{
    color:rgb(238, 196, 11);
    font-size: 2.5rem;
}
.control{
    background-color: rgb(238, 196, 11);
    height: 50px;
    width: 30%;
    border: none;
    outline: none;
    background: rgb(238, 196, 11);
    font-weight: bold;
    color:black;
}
/*=====================Bottom=======================*/
.news{
    background: rgb(238, 196, 11);
    font-family: 'prompt' , sans-serif;
}
.news a{
    text-decoration: none;
    color: black;
    margin: 0;
    cursor: pointer;
    transition: all 0.4s;
}
.news a:hover{
    color: white;
    padding-left: 5px;
    
}
.btns{
    height: 50px;
    width: 30%;
    border: none;
    outline: none;
    background: black;
    font-weight: bold;
    color:rgb(238, 196, 11);
}
.sub{
    height: 50px;
    width: 70%;
    background: transparent;
    outline: none;
    border: 1px solid black;
    color: black;
}
.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: black;
    background: rgb(53, 49, 49);
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.4s;
}
.circle:hover{
    background: black;
    color: rgb(53, 49, 49);
}
.Copy{
    color:rgb(53, 49, 49);

}
.filter{
    background: #0a0a0a;
}
