.row9 {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
    /*background: rgb(238, 196, 11);*/
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    /*background: rgb(238, 196, 11);*/
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;

  }
  
  .container5 {
    /*background-color: rgb(238, 196, 11);*/
    padding: 5px 20px 15px 20px;
    border: 1px solid black;
    border-radius: 3px;
    background: url(https://64.media.tumblr.com/549e347324a3d476334f3d4fd3c1cafd/6e7131e9aefc8a79-72/s540x810/08be8b0f60c2cd6e6b1878be7c7477157a79bc63.gif)no-repeat;
    background-size: cover;
    width: 100%;
    height: 72vh;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: rgb(238, 196, 11);
    color: black;
    padding: 7px;
    margin: 39px 0;
    border: none;
    width: 20%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: black;
    color: white;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row9 {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }

/* ===============================Nav==========================*/
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 2rem;
    color: rgb(238, 196, 11);
    font-family: 'Roboto Condensed', sans-serif;
}
.navbar-brand:hover{
    color: rgb(36, 32, 32);
}
.nav-item a{
    margin-right: 15px;
    margin-left: 15px;
    color: rgb(238, 196, 11);
    text-transform: uppercase;
    font-family: sans-serif;
}
.nav-link:hover{
    color: rgb(36, 32, 32);
}
.far, .fab{
    color: rgb(238, 196, 11);
    font-size: 1.1rem;
    cursor: pointer;
}
.fab:hover{
    color:rgb(36, 32, 32);
}
.far:hover{
    color:rgb(36, 32, 32);
}
/*================Bottom=========================*/
.news{
  background: black;
  font-family: 'prompt' , sans-serif;
}
.news a{
  text-decoration: none;
  color: rgb(238, 196, 11);
  margin: 0;
  cursor: pointer;
  transition: all 0.4s;
}
.news a:hover{
  color: white;
  padding-left: 5px;
  
}
.btns{
  height: 50px;
  width: 30%;
  border: none;
  outline: none;
  background: rgb(238, 196, 11);
  font-weight: bold;
  color:black;
}
.sub{
  height: 50px;
  width: 70%;
  background: transparent;
  outline: none;
  border: 1px solid black;
  color: rgb(238, 196, 11);
}
.circle{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: rgb(238, 196, 11);
  background: rgb(53, 49, 49);
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.4s;
}
.circle:hover{
  background: rgb(238, 196, 11);
  color: rgb(53, 49, 49);
}
.Copy{
  color:rgb(53, 49, 49);

}
.filter{
  background: #0a0a0a;
}
h3{
  color: rgb(238, 196, 11);
}
p{
  color: rgb(238, 196, 11);
}
/*================Reg===========================*/
#fname, #email, #pwd, #pwdv{
  width: 25%;
}
input[type=password] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
label, h4{
  color: rgb(238, 196, 11);
}
